IF DB_ID(N'TipoCambio') IS NULL
BEGIN
    PRINT 'Creando base TipoCambio...';
    CREATE DATABASE [TipoCambio];
END
GO

USE [TipoCambio];
GO

IF NOT EXISTS (SELECT 1 FROM sys.schemas WHERE name = N'dbo')
    EXEC('CREATE SCHEMA dbo');
GO

SET ANSI_NULLS ON;
SET QUOTED_IDENTIFIER ON;
GO

IF OBJECT_ID(N'dbo.Rol', N'U') IS NULL
BEGIN
    CREATE TABLE dbo.Rol(
        IdRol      int IDENTITY(1,1) NOT NULL,
        TipoRol    nvarchar(50)      NOT NULL,
        CONSTRAINT PK_Rol PRIMARY KEY CLUSTERED (IdRol ASC)
    );
END
GO

IF OBJECT_ID(N'dbo.Usuario', N'U') IS NULL
BEGIN
    CREATE TABLE dbo.Usuario(
        IdUsuario   nvarchar(255) NOT NULL,
        Nombre      nvarchar(100) NOT NULL,
        Contrasena  nvarchar(255) NOT NULL,
        IdRol       int           NOT NULL,
        CONSTRAINT PK_Usuario PRIMARY KEY CLUSTERED (IdUsuario ASC)
    );
END
GO

IF OBJECT_ID(N'dbo.DivisaUsuario', N'U') IS NULL
BEGIN
    CREATE TABLE dbo.DivisaUsuario(
        Id          int IDENTITY(1,1) NOT NULL,
        IdUsuario   nvarchar(255)     NOT NULL,
        Codigo      varchar(5)        NOT NULL,
        IsPrincipal bit               NOT NULL CONSTRAINT DF_DivisaUsuario_IsPrincipal DEFAULT(0),
        CONSTRAINT PK_DivisaUsuario PRIMARY KEY CLUSTERED (Id ASC)
    );
END
GO

IF NOT EXISTS (SELECT 1 FROM sys.foreign_keys WHERE name = N'FK_Usuario_Rol')
BEGIN
    ALTER TABLE dbo.Usuario  WITH CHECK
    ADD CONSTRAINT FK_Usuario_Rol FOREIGN KEY(IdRol)
        REFERENCES dbo.Rol(IdRol);
END
GO

IF NOT EXISTS (SELECT 1 FROM sys.foreign_keys WHERE name = N'FK_DivisaUsuario_Usuario')
BEGIN
    ALTER TABLE dbo.DivisaUsuario WITH CHECK
    ADD CONSTRAINT FK_DivisaUsuario_Usuario FOREIGN KEY(IdUsuario)
        REFERENCES dbo.Usuario(IdUsuario);
END
GO

IF NOT EXISTS (SELECT 1 FROM sys.check_constraints WHERE name = N'CK_DivisaUsuario_IsPrincipal')
BEGIN
    ALTER TABLE dbo.DivisaUsuario  WITH CHECK
    ADD CONSTRAINT CK_DivisaUsuario_IsPrincipal CHECK (IsPrincipal IN (0,1));
END
GO

MERGE dbo.Rol AS T
USING (VALUES (N'Administrador'), (N'Normal')) AS S(TipoRol)
ON T.TipoRol = S.TipoRol
WHEN NOT MATCHED BY TARGET THEN
    INSERT (TipoRol) VALUES (S.TipoRol);
GO

PRINT 'Listo: Base y tablas creadas/validadas.';

